<a href="https://colab.research.google.com/github/Ghabryel7/Ghabryel7/blob/main/Projeto_Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para o curso de Python para Data Science publicado na plataforma da [Alura](https://www.alura.com.br/)

# Introdução ao Python

Vamos conhecer o Python, nosso ambiente de estudo e também faremos nosso primeiro código nessa linguagem!

## Google Colaboratory

Já aprendemos o que é o [Python](https://www.python.org/) agora vamos aprender a utilzar o [Google Colaboratory](https://colab.research.google.com/) e programar em um notebook.

Vamos testar algumas funções dessa ferramenta.

 **`>>> Use essa célula para mover <<<`**

In [ ]:
10

10

## Olá mundo!

Vamos conhecer mais como funciona o ambiente interativo de um notebook. Para isso vamos executar nosso primeiro comando em Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('Escola de Dados Alura!') # Teste

Escola de Dados Alura!

In [ ]:
print(10)

10

In [ ]:
print(9,'Julho',2000)

9 Julho 2000

# Manipulando dados

Vamos aprender sobre as variáveis no python, como elas são declaradas e utilizadas além de conhecer outros comandos dentro do Python. :D

## Variáveis

Em Data Science nós trabalhamos com vários dados e informações, então é essencial saber trabalhar com variáveis.

Criamos uma variável no python através da atribuição de um valor a ela.

Para fazer isso, colocamos o nome da variável um sinal de igual (`=`) e o valor que queremos atribuir

In [ ]:
idade = 5

In [ ]:
print(idade)

5

In [ ]:
idade = 10
print(idade)

10

In [ ]:
idade = 15
idade

15

In [ ]:
nome = 'Ghabryel'
nome

'Ghabryel'

Nomes que **não** podemos definir para variáveis:

- **Nomes que começam com números**
  - Exemplos: `10_notas`, `2_nomes_casa`, etc.
- **Palavras separada por espaço**
  - Exemplos: `Nome escola`, `notas estudantes`, etc.
- **Nomes de funções do Python**
  - Exemplos: `print`, `type`, etc.

> Letras maiúsculas e minúsculas vão gerar diferentes variáveis. A varíavel `idade` é diferente de `Idade` que por sua vez também é diferente de `IDADE`:
``` Python
idade = 1
Idade = 2
IDADE = 3
_idade = 4
_idade_ = 5
print(idade, Idade, IDADE, _idade, _idade_)
1 2 3 4 5
```

## Tipos de variáveis

Cada variável contém uma classe especifica quanto ao tipo de objeto que ela está se referenciando. Essas classes vão ser diferentes a partir do tipo de dado que nós atribuimos a uma variável.

Para saber a classe de cada elemento usamos a função [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
i = 5
type(i)

int

In [ ]:
f = 9.8
type(f)

float

In [ ]:
s = 'Ghabryel'
type(s)

str

In [ ]:
b = True
type(b)

bool

Em um conjunto de dados escolares podemos ter vários tipos de informações. Digamos que tenhamos acesso à ficha de dados do aluno *Frabicio Daniel* como transformamos ela em variáveis no Python?

#### Ficha:

- Nome: Fabricio Daniel
- Idade: 15 anos
- Media do semestre: 8,45
- Situação de aprovação: Verdadeira (aprovado)

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45
situacao_aprovado = True
print(nome_aluno)
print(idade_aluno)
print(media_aluno)
print(situacao_aprovado)

Fabricio Daniel
15
8.45
True

## Variáveis numéricas

Entre os tipos de dados numéricos vamos nos focar no tipo `inteiro` e `float`.

Temos uma tabela de informação de empregos quanto ao cargo, quantidade de pessoas empregadas e o salário correspondente:

|Cargo | Quantidade | Salário|
|---|---|---|
|Segurança | 5 | 3000 |
|Docente | 16| 6000|
|Diretoria| 1 |12500|

Precisamos trabalhar com esses dados fornecendo:

- A quantidade total de empregados;
- A diferença entre o salário mais baixo e mais alto; e
- A média ponderada da faixa salarial da escola.

In [ ]:
q_seguranca = 5
s_seguranca = 3000

q_docente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

In [ ]:
total_empregados = q_seguranca + q_docente + q_diretoria
total_empregados

22

In [ ]:
diferenca_salario = s_diretoria - s_seguranca
diferenca_salario

9500

In [ ]:
media_salario = (q_seguranca*s_seguranca + q_docente*s_docente + q_diretoria*s_diretoria) / (total_empregados)
media_salario

5613.636363636364

Operações Númericas:

In [ ]:
2**3

8

In [ ]:
operador = 3
potencia = 2
operador ** potencia

9

In [ ]:
7%3

1

In [ ]:
dividendo = 7
divisor = 3
dividendo % divisor

1

In [ ]:
7//3

2

In [ ]:
numerador = 7
denominador = 3
numerador // denominador

2

## Strings

Strings são caracterizada por ter um conjunto de caracteres formando um texto.

Strigs podem ser criadas ao atribuirmos a uma variável um dado que esteja entre aspas simples (`'`) ou aspas duplas (`"`)

In [ ]:
s1 = 'Alura'
s2 = "Alura"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

As variáveis textuais contém vários métodos que nos ajudam a formatar strings. Métódos podem ser executados ao definirmos um objeto seguindo a seguinte estrutura:

```
objeto.metodo()
```

Existem métodos que não necessitam dos `()`, é preciso verificar a documentação de cada caso.

---
**Situação:**

Recebemos uma variável com o nome de uma professora da escola para inserimos no cadastro. No entanto, precisamos tratar esse texto antes de inserirmos no sistema

In [ ]:
texto = '  Geovana Alessandra dias Sanyos '

O objetivo final é que o nome esteja da seguinte forma:

```
'GEOVANA ALESSANDRA DIAS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Converte uma string para maiúsculas

In [ ]:
texto.upper()

'  GEOVANA ALESSANDRA DIAS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Método converte uma string para minúsculas.

In [ ]:
texto.lower()

'  geovana alessandra dias sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Método remove os espaços em branco do início e do fim de uma string.

In [ ]:
texto.strip()

'Geovana Alessandra dias Sanyos'

### [`str.replace(antigo, novo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Método substitui todas as ocorrências do texto "antigo" na string por "novo"

In [ ]:
texto.replace('y','t')

'  Geovana Alessandra dias Santos '

### Observações

1. Os métodos retornam uma **tranformação**, não a executam no texto!

2. Além disso, podemos acumular a execução de métodos.

In [ ]:
texto

'  Geovana Alessandra dias Sanyos '

Para que seja executada a transformação nós podemos atribuir às saídas das transformações à variável

In [ ]:
texto = texto.strip().replace('y','t').upper()
texto

'GEOVANA ALESSANDRA DIAS SANTOS'

## Coletando dados

Em algumas aplicações precisamos coletar valores da pessoa usuária do nosso projeto. Em python conseguimos coletar dados de usuário através do comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para fazer essa coleta podemos atribuir essa função à uma variável.

In [ ]:
nome = input('Escreva seu nome: ')

Escreva seu nome: Ghabryel

In [ ]:
nome

'Ghabryel'

O retorno desse comando sempre será uma *string*. Isso quer dizer que mesmo que façamos uma coleta de algo que deva ser numérico, ele será uma string.

Então, será preciso **converter o resultado caso não seja desejável obter uma string**.

Existem funções para conversão de valores:

- Inteiros: [`int(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#int)
- Float: [`float(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante: ')

Escreva o ano de ingresso do(a) estudante: 2023

In [ ]:
type(ano_entrada)

str

In [ ]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante: '))

Escreva o ano de ingresso do(a) estudante: 2023

In [ ]:
type(ano_entrada)

int

Buscaremos apresentar melhor agora o resultado que obtivemos da transformação. Nós conseguimos formatar e apresentar o nosso resultado misturando strings com valores não textuais.

Para fazer isso usamos a estrutura de formatação `f` com strings.

In [ ]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso {nota_entrada}')

Digite a nota do teste de ingresso: 9.0
Ano de entrada 2023 - nota do teste de ingresso 9.0

Desafio: Coleta e Amostragem de Dados

In [ ]:
nome = input("Digite seu nome: ")
print(f'Olá, {nome}.')

Digite seu nome: Ghabryel
Olá, Ghabryel.

In [ ]:
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade: '))
print(f'Olá, {nome}, você tem {idade} anos.')

Digite seu nome: Ghabryel
Digite sua idade: 24
Olá, Ghabryel, você tem 24 anos.

In [ ]:
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade: '))
altura = float(input('Digite sua altura: '))
print(f'Olá, {nome}, você tem {idade} anos e mede {altura} metros!.')

Digite seu nome: Ghabryel
Digite sua idade: 24
Digite sua altura: 1.79
Olá, Ghabryel, você tem 24 anos e mede 1.79 metros!.

# Estruturas condicionais

## `IF` e `ELSE`

O `if` e `else` são duas estruturas condicionais. O `if` executará o bloco de comando caso a condição colocada for **verdadeira**. O `else` é um caso em que a condicional de `if` seja **falsa**.

O `if` é uma palavra-chave em Python que significa "se". Ele é usado para formar uma estrutura condicional, que permite que você verifique se uma determinada condição é verdadeira ou falsa e, em seguida, execute um bloco de código específico dependendo do resultado da verificação. A sintaxe para usar o `if` é:



```
if condição:
    # faça algo
```

In [ ]:
if 2>7:
  print('Condição Verdadeira')

Já o `else` em Python é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional. A sintaxe para usar o `else` é:

```
if condição:
  # código caso seja verdade
else:
  # código caso seja falso
```

O `else` é executado quando a condição verificada pelo `if` é avaliada como `False`.

---
**Situação:**

Receberemos a média de estudantes e precisamos de um algoritmo que execute a análise e decida se esse estudante está **Aprovado** ou Reprovado, mostrando uma mensagem do resultado. Para ser aprovado, a média precisa ser igual ou superior à 6.0.

In [ ]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print("Aprovado")
else:
  print('Reprovado')

Digite a média: 5.6
Reprovado

Agora a nossa instituição de ensino lançou uma nota oficial que pessoas que tenham média entre 4.0 e 6.0 podem fazer os cursos de **Recuperação** nas férias para poder recuperar a nota.

Então podemos agora fazer um conjunto de `if`s para que possamos estruturar essa nova condição.

In [ ]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('Aprovado')
if 6.0 > media >= 4.0:
  print('Recuperação')
if media < 4.0:
  print('Reprovado')

Digite a média: 3
Reprovado

Notemos que em casos com 3 situações como esse precisamos definir bem nossas condições. Pois foi feita uma construção com `else` no final, ele irá considerar apenas a alguma condicional para ser o caso **falso** podendo resultar em duas (ou mais) execuções.

Por exemplo:

In [ ]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('Aprovado')
if 6.0 > media >= 4.0:
  print('Recuperação')
else:
  print('Reprovado')

Digite a média: 7
Aprovado
Reprovado

## `ELIF`

O `elif` é uma palavra-chave em Python que significa "senão, se" e pode ser considerado uma união do `else` com um `if`. Ela é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional encadeada.

A sintaxe para usar o `elif` é:

```
if condição1:
    # faça algo
elif condição2:
    # faça outra coisa
elif condição3:
    # faça mais alguma coisa
else:
    # faça algo diferente
```

O `elif` permite que você verifique várias condições de forma encadeada, economizando espaço em seu código. Se a primeira condição for avaliada como `False`, o interpretador Python avaliará a próxima condição no `elif`. Isso continuará até que uma condição seja avaliada como `True` ou até que o `else` seja atingido. Se nenhuma das condições forem avaliadas como `True`, a execução do código do `else` será iniciada.

Vamos usar o mesmo caso anterior:

In [ ]:
media = float(input('Digite a média: '))

if media >= 6.0:
  print('Aprovado')
elif 6.0 > media >= 4.0:
  print('Recuperação')
else:
  print('Reprovado')

Digite a média: 5
Recuperação

## Operadores

Durante a construção de comandos por vezes precisamos de uma elaboração maior de da expressão condicional, necessitando que alguns operadores lógicos estejam integrados.

### `AND`, `OR`, `NOT`

Os operadores lógicos `and`, `or` e `not` são usados para combinar expressões lógicas em Python. Eles são usados frequentemente em conjunto com o `if` para criar estruturas condicionais mais complexas.

- `AND` é usado para verificar se duas condições são verdadeiras. A expressão lógica¹ `x and y` é avaliada como `True` apenas se **ambas as condições `x` e `y` forem verdadeiras**, e como `False` caso contrário.

- `OR` é usado para verificar se pelo menos uma das condições é verdadeira. A expressão lógica `x or y` é avaliada como `True` **se pelo menos uma das condições `x` ou `y` for verdadeira**, e como `False` se ambas forem falsas.

- `NOT` é usado para **negar uma condição**. A expressão lógica not x é avaliada como True se a condição x for falsa, e como False se a condição x for verdadeira.

¹ Uma expressão lógica é uma declaração que pode ser avaliada como verdadeira ou falsa. Ela é composta por operandos lógicos² e operadores lógicos³, que são usados ​​para combinar várias expressões lógicas em uma única expressão.

² Os operandos lógicos são os elementos que são comparados ou avaliados em uma expressão lógica. Eles são geralmente valores verdadeiros ou falsos, mas também podem ser expressões lógicas mais complexas. Em Python, os operandos lógicos são os valores `True` e `False`.

³ Os operadores lógicos são os símbolos ou palavras-chave que são usados ​​para combinar várias expressões lógicas em uma única expressão. Em Python, os operadores lógicos são `and`, `or` e `not`, bem como as palavras-chave `if`, `elif` e `else`.

In [ ]:
t1 = t2 = True
f1 = f2 = False

In [ ]:
if t1 and f2:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão falsa

In [ ]:
if f2 or f1:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão falsa

In [ ]:
if not t1:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão falsa

### `IN`

É usado para verificar se um elemento está presente em uma lista, tupla ou outra variável de conjunto. A expressão `x in y` é avaliada como `True` se o elemento `x` estiver presente na variável de conjunto `y`, e como `False` caso contrário.

Podemos verificar isso com variáveis de texto.

---

**Situação:**

Na escola foi passada uma lista com nomes de estudantes que foram aprovados por média no semestre, mas é preciso verificar se alguns nomes estão nessa lista para verificar se os dados estão corretos.

A lista distribuida pode ser observada abaixo:

```
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira
'
```

Os nomes que precisam ser verificados são os seguintes:

```
nome_1 = 'Mariana Rodrigues'
nome_2 = 'Marcelo Nogueira'
```

In [ ]:
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'
lista

'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'

In [ ]:
nome_1 = 'Mariana Rodrigues'
nome_2 = 'Marcelo Nogueira'

In [ ]:
if nome_1 in lista:
  print(f'{nome_1} está na lista')
else:
  print(f'{nome_1} não está na lista')

Mariana Rodrigues está na lista

In [ ]:
if nome_2 in lista:
  print(f'{nome_2} está na lista')
else:
  print(f'{nome_2} não está na lista')

Marcelo Nogueira não está na lista

**Desafio: Hora da Prática**

Atividade 1

In [ ]:
num1 = float(input('Digite o 1º número: '))
num2 = float(input('Digite o 2º número: '))

Digite o 1º número: 6
Digite o 2º número: 6

In [ ]:
if num1 > num2:
  print(f'O primeiro numero é maior: {num1}')
elif num2 > num1:
  print(f'O segundo numero é maior: {num2}')
else:
  print('Os dois números são iguais')

Os dois números são iguais

Atividade 2

In [ ]:
percentual = float(input('Digite o percentual de crescimento da produção: '))

Digite o percentual de crescimento da produção: 0

In [ ]:
if percentual > 0:
  print(f'Houve um crescimento de {percentual}%')
elif percentual < 0:
  print(f'Houve um descrecimento de {percentual}%')
else:
  print('Não houve um crescimento ou decrescimento')

Não houve um crescimento ou decrescimento

Atividade 3

In [ ]:
letra = input('Digite uma letra: ').lower()
vogais = 'aeiou'

Digite uma letra: b

In [ ]:
if letra in vogais:
  print('A letra é uma vogal.')
else:
  print('A letra é uma consoante')

A letra é uma consoante

Atividade 4

In [ ]:
preco_ano1 = float(input('Informe o preço médio do carro no primeiro ano: '))
preco_ano2 = float(input('Informe o preço médio do carro no segundo ano: '))
preco_ano3 = float(input('Informe o preço médio do carro no terceiro ano: '))

Informe o preço médio do carro no primeiro ano: 20.000
Informe o preço médio do carro no segundo ano: 35.000
Informe o preço médio do carro no terceiro ano: 15.000

In [ ]:
maior = preco_ano1
if preco_ano2 > maior:
  maior = preco_ano2
if preco_ano3 > maior:
  maior = preco_ano3

In [ ]:
menor = preco_ano1
if preco_ano2 < menor:
  menor = preco_ano2
if preco_ano3 < menor:
  menor = preco_ano3

In [ ]:
print(f'O preço mais alto foi de R${maior}.')
print(f'O preço mais baixo foi de R${menor}.')

O preço mais alto foi de R$35.0.
O preço mais baixo foi de R$15.0.

Atividade 5

In [ ]:
preco_produto1 = float(input('Informe o preço do 1º produto: '))
preco_produto2 = float(input('Informe o preço do 2º produto: '))
preco_produto3 = float(input('Informe o preço do 3º produto: '))

Informe o preço do 1º produto: 100
Informe o preço do 2º produto: 100
Informe o preço do 3º produto: 100

In [ ]:
if preco_produto1 < preco_produto2 and preco_produto1 < preco_produto3:
  print('O primeiro produto é o mais barato.')
elif preco_produto2 < preco_produto1 and preco_produto2 < preco_produto3:
  print('O segundo produto é o mais barato.')
elif preco_produto3 < preco_produto1 and preco_produto3 < preco_produto2:
  print('O terceiro produto é o mais barato.')
elif preco_produto1 == preco_produto2 == preco_produto3:
  print('Os produtos possuem o mesmo preço.')
else:
  if preco_produto1 == preco_produto2:
    print('O primeiro e o segundo produto são os mais baratos.')
  elif preco_produto2 == preco_produto3:
    print('O segundo e o terceiro produto são os mais baratos.')
  elif preco_produto1 == preco_produto3:
    print('O primeiro e o terceiro produto são os mais baratos.')

Os produtos possuem o mesmo preço.

Atividade 6

In [ ]:
num1 = int(input('Informe o primeiro número: '))
num2 = int(input('Informe o segundo número: '))
num3 = int(input('Informe o terceiro número: '))

Informe o primeiro número: 2
Informe o segundo número: 7
Informe o terceiro número: 9

In [ ]:
if (num1 >= num2) and (num1 >= num3):
  print(num1)
  if num2 >= num3:
    print(num2)
    print(num3)
  else:
    print(num3)
    print(num2)
elif (num2 >= num1) and (num2 >= num3):
  print(num2)
  if num1 >= num3:
    print(num1)
    print(num3)
  else:
    print(num3)
    print(num1)
else:
  print(num3)
  if num1 >= num2:
    print(num1)
    print(num2)
  else:
    print(num2)
    print(num1)

9
7
2

Atividade 7

In [ ]:
turno = input('Digite em qual turno você estuda (manhã, tarde ou noite): ')

Digite em qual turno você estuda (manhã, tarde ou noite): Diurno

In [ ]:
if turno == 'manhã':
  print('Bom dia!.')
elif turno == 'tarde':
  print('Boa tarde!.')
elif turno == 'noite':
  print('Boa noite!.')
else:
  print('Valor Inválido!.')

Valor Inválido!.

Atividade 8

In [ ]:
num = int(input('Digite um número: '))

Digite um número: 0

In [ ]:
if num % 2 == 0:
  print('O número é par.')
else:
  print('O número é impar.')

O número é par.

Atividade 9

In [ ]:
num = float(input('Digite um número: '))

Digite um número: 2

In [ ]:
if num % 1 == 0:
  print('O número é inteiro.')
else:
  print('O número é decimal')

O número é inteiro.

Projeto 1

In [ ]:
num1 = float(input('Informe o primeiro número: '))
num2 = float(input('Informe o segundo número: '))
operacao = input('Informe a operação desejada (+, -, *,/): ')

Informe o primeiro número: 7
Informe o segundo número: 7
Informe a operação desejada (+, -, *,/): /

In [ ]:
if operacao == '+':
  resultado = num1 + num2
elif operacao == '-':
  resultado = num1 - num2
elif operacao == '*':
  resultado = num1 * num2
elif operacao == '/':
  resultado = num1 / num2
else:
  print('Operação inválida, resultado da operação será 0')
  resultado = 0

if resultado % 1 == 0:
  print('O resultado é inteiro.')
else:
  print('O resultado é decimal.')

if resultado > 0:
  print('O resultado é positivo.')
elif resultado == 0:
  print('O resultado é neutro.')
else:
  print('O resultado é negativo.')

if resultado % 2 == 0:
  print('O resultado é par.')
else:
  print('O resultado é impar.')

O resultado é inteiro.
O resultado é positivo.
O resultado é impar.

Projeto 2

In [ ]:
print('Coletaremos os lados de um triângulo.')
lado1 = float(input('Digite o comprimento do primeiro lado: '))
lado2 = float(input('Digite o comprimento do segundo lado: '))
lado3 = float(input('Digite o comprimento do terceiro lado: '))

Coletaremos os lados de um triângulo.
Digite o comprimento do primeiro lado: 4
Digite o comprimento do segundo lado: 6
Digite o comprimento do terceiro lado: 8

In [ ]:
if (lado1 + lado2 > lado3) and (lado2 + lado3 > lado1) and (lado1 + lado3 > lado2):
    print('Os valores podem formar um triângulo!')
    if (lado1 == lado2) and (lado2 == lado3):
        print('O triângulo é equilátero.')
    elif (lado1 != lado2) and (lado2 != lado3) and (lado1 != lado3):
        print('O triângulo é escaleno.')
    else:
        print('O triângulo é isósceles.')
else:
    print('Os valores não podem formar um triângulo!')

Os valores podem formar um triângulo!
O triângulo é escaleno.

Projeto 3

In [ ]:
quantidade_litros = float(input('Informe a quantidade de litros vendidos: '))
tipo_combustivel = input('Informe o tipo de combustível (E para Etanol e D para Diesel): ').upper()

Informe a quantidade de litros vendidos: 10
Informe o tipo de combustível (E para Etanol e D para Diesel): D

In [ ]:
if tipo_combustivel == 'E':
  preco_litro = 1.70
  if quantidade_litros <= 15:
    desconto = 0.02
  else:
    desconto = 0.04
elif tipo_combustivel == 'D':
  preco_litro = 2.00
  if quantidade_litros <= 15:
    desconto = 0.03
  else:
    desconto = 0.05
else:
  print('Entradas inválidas!')
  preco_litro = 0
  desconto = 0

valor_desconto = preco_litro * quantidade_litros * desconto
valor_pago = preco_litro * quantidade_litros - valor_desconto

print(f'Valor a ser pago pelo cliente: R${valor_pago}')

Valor a ser pago pelo cliente: R$19.4

Projeto 4

In [ ]:
venda_2022 = float(input('Informe a quantidade de vendas em 2022: '))
venda_2023 = float(input('Informe a quantidade de vendas em 2023: '))

Informe a quantidade de vendas em 2022: 10000
Informe a quantidade de vendas em 2023: 20000

In [ ]:
var_percentual = 100 * (venda_2023 - venda_2022) / (venda_2022)
if var_percentual > 20:
    print('Bonificação para o time de vendas.')
elif 2 <= var_percentual <= 20:
    print('Pequena bonificação para time de vendas.')
elif -10 <= var_percentual < 2:
    print('Planejamento de políticas de incentivo às vendas.')
else:
    print('Corte de gastos.')

Bonificação para o time de vendas.

# Estruturas de repetição

Quando temos que executar um mesmo bloco de comandos por várias vezes não é muito interessante fazer isso à mão.

Imaginemos a situação de termos que coletar e imprimir a média de duas notas de **3 estudantes**:

In [ ]:
nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

Digite a 1° nota: 4
Digite a 2° nota: 7
Média: 5.5

Agora imaginemos uma situação em que não são apenas 3 estudantes, mas sim 100 estudantes. Não seria interessante repetir o mesmo código por 100 vezes, mas sim **executar o mesmo código 100 vezes**.

Essa repetição conseguimos construir com laços de repetição!

## `WHILE`

O laço `while` é uma estrutura de controle de repetição em Python que permite executar um bloco de código repetidamente enquanto uma determinada condição é verdadeira. Sua estrutura é:



```
while condição:
    # bloco de código
```

Vamos construir um exemplo com um contador de 1 até 10.

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  contador += 1

1
2
3
4
5
6
7
8
9
10

Agora vamos coletar as notas e médias de cada aluno dentro do while. Faremos um exemplo com 3 médias.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/2}')
  contador +=1

Digite a 1° nota: 5
Digite a 2° nota: 7
Média: 6.0
Digite a 1° nota: 8
Digite a 2° nota: 5
Média: 6.5
Digite a 1° nota: 9
Digite a 2° nota: 1
Média: 5.0

## `FOR`

O laço `for` é um tipo de estrutura de controle de fluxo em Python que permite iterar sobre um conjunto de elementos. A sua estrutura é:



```
for elemento in conjunto:
    # código a ser executado para cada elemento
```

O laço for itera sobre cada elemento do conjunto especificado e executa o bloco de código dentro do laço para cada elemento. Quando o laço chega ao final do conjunto, ele é interrompido e o programa continua a execução após o laço.

O conjunto pode ser gerado com a função [`range()`](https://docs.python.org/3/library/functions.html#func-range). Que é uma função capaz de gerar uma sequência de números inteiros. A estrutura dessa função é:

```
range(inicio, fim, passo)
```

Segundo a documentação, o `range()` gera uma sequência de números inteiros a partir do valor do parâmetro `inicio` até o valor do parâmetro `fim`, de acordo com o valor do parâmetro `passo`. Se `inicio` não for especificado, o valor padrão é 0. Se `passo` não for especificado, o valor padrão é 1.

Vamos fazer o mesmo contador `while` agora com `for`.

In [ ]:
for contador in range(1,11):
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for contador in range(1,4):
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/2}')

Digite a 1° nota: 6
Digite a 2° nota: 2
Média: 4.0
Digite a 1° nota: 9
Digite a 2° nota: 1
Média: 5.0
Digite a 1° nota: 2
Digite a 2° nota: 10
Média: 6.0

**Atividade 1**

In [ ]:
num_1 = int(input('Digite o 1º número inteiro: '))
num_2 = int(input('Digite o 2º número inteiro: '))

if num_1 < num_2:
  for i in range(num_1 + 1, num_2):
    print(i)
elif num_1 > num_2:
  for i in range(num_2 + 1, num_1):
    print(i)
else:
  print('Os dois números são iguais.')

Digite o 1º número inteiro: 20
Digite o 2º número inteiro: 10
11
12
13
14
15
16
17
18
19

**Atividade 2**

In [ ]:
colonia_A = 4
colonia_B = 10

taxa_A = 0.03
taxa_B = 0.015

dias = 0

while colonia_A <= colonia_B:
  colonia_A *= 1.03
  colonia_B *= 1.015
  dias += 1

  print(f'Levará {dias} dias para a colônia A ultrapassar a colônia B.')

Levará 1 dias para a colônia A ultrapassar a colônia B.
Levará 2 dias para a colônia A ultrapassar a colônia B.
Levará 3 dias para a colônia A ultrapassar a colônia B.
Levará 4 dias para a colônia A ultrapassar a colônia B.
Levará 5 dias para a colônia A ultrapassar a colônia B.
Levará 6 dias para a colônia A ultrapassar a colônia B.
Levará 7 dias para a colônia A ultrapassar a colônia B.
Levará 8 dias para a colônia A ultrapassar a colônia B.
Levará 9 dias para a colônia A ultrapassar a colônia B.
Levará 10 dias para a colônia A ultrapassar a colônia B.
Levará 11 dias para a colônia A ultrapassar a colônia B.
Levará 12 dias para a colônia A ultrapassar a colônia B.
Levará 13 dias para a colônia A ultrapassar a colônia B.
Levará 14 dias para a colônia A ultrapassar a colônia B.
Levará 15 dias para a colônia A ultrapassar a colônia B.
Levará 16 dias para a colônia A ultrapassar a colônia B.
Levará 17 dias para a colônia A ultrapassar a colônia B.
Levará 18 dias para a colônia A ultrapassar a colônia B.
Levará 19 dias para a colônia A ultrapassar a colônia B.
Levará 20 dias para a colônia A ultrapassar a colônia B.
Levará 21 dias para a colônia A ultrapassar a colônia B.
Levará 22 dias para a colônia A ultrapassar a colônia B.
Levará 23 dias para a colônia A ultrapassar a colônia B.
Levará 24 dias para a colônia A ultrapassar a colônia B.
Levará 25 dias para a colônia A ultrapassar a colônia B.
Levará 26 dias para a colônia A ultrapassar a colônia B.
Levará 27 dias para a colônia A ultrapassar a colônia B.
Levará 28 dias para a colônia A ultrapassar a colônia B.
Levará 29 dias para a colônia A ultrapassar a colônia B.
Levará 30 dias para a colônia A ultrapassar a colônia B.
Levará 31 dias para a colônia A ultrapassar a colônia B.
Levará 32 dias para a colônia A ultrapassar a colônia B.
Levará 33 dias para a colônia A ultrapassar a colônia B.
Levará 34 dias para a colônia A ultrapassar a colônia B.
Levará 35 dias para a colônia A ultrapassar a colônia B.
Levará 36 dias para a colônia A ultrapassar a colônia B.
Levará 37 dias para a colônia A ultrapassar a colônia B.
Levará 38 dias para a colônia A ultrapassar a colônia B.
Levará 39 dias para a colônia A ultrapassar a colônia B.
Levará 40 dias para a colônia A ultrapassar a colônia B.
Levará 41 dias para a colônia A ultrapassar a colônia B.
Levará 42 dias para a colônia A ultrapassar a colônia B.
Levará 43 dias para a colônia A ultrapassar a colônia B.
Levará 44 dias para a colônia A ultrapassar a colônia B.
Levará 45 dias para a colônia A ultrapassar a colônia B.
Levará 46 dias para a colônia A ultrapassar a colônia B.
Levará 47 dias para a colônia A ultrapassar a colônia B.
Levará 48 dias para a colônia A ultrapassar a colônia B.
Levará 49 dias para a colônia A ultrapassar a colônia B.
Levará 50 dias para a colônia A ultrapassar a colônia B.
Levará 51 dias para a colônia A ultrapassar a colônia B.
Levará 52 dias para a colônia A ultrapassar a colônia B.
Levará 53 dias para a colônia A ultrapassar a colônia B.
Levará 54 dias para a colônia A ultrapassar a colônia B.
Levará 55 dias para a colônia A ultrapassar a colônia B.
Levará 56 dias para a colônia A ultrapassar a colônia B.
Levará 57 dias para a colônia A ultrapassar a colônia B.
Levará 58 dias para a colônia A ultrapassar a colônia B.
Levará 59 dias para a colônia A ultrapassar a colônia B.
Levará 60 dias para a colônia A ultrapassar a colônia B.
Levará 61 dias para a colônia A ultrapassar a colônia B.
Levará 62 dias para a colônia A ultrapassar a colônia B.
Levará 63 dias para a colônia A ultrapassar a colônia B.

**Atividade 3**

In [ ]:
for i in range(15):
  nota = float(input('Insira a nota (de 1 a 5) {i}: '))

  while (nota < 0) or (nota > 5):
    nota = float(input(f'Nota inválida, insira novamente a nota {i}: '))

  print('Verificação feita. Todas as notas são validas.')

Insira a nota (de 1 a 5) {i}: 5
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 0
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 6
Nota inválida, insira novamente a nota 2: 3
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 2
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 1
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 5
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 4
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 3
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 2
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 1
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 5
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 4
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 3
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 2
Verificação feita. Todas as notas são validas.
Insira a nota (de 1 a 5) {i}: 1
Verificação feita. Todas as notas são validas.

**Atividade 4**

In [ ]:
temperatura = float(input('Insira a Temperatura (ºC): '))
contadora = 0
soma = 0

while temperatura != -273:
  soma += temperatura
  contadora += 1
  temperatura = float(input('Insira a Temperatura (ºC): '))

media = soma / contadora

print(f'A média das temperaturas é: {media}')

Insira a Temperatura (ºC): -100
Insira a Temperatura (ºC): -100
Insira a Temperatura (ºC): -100
Insira a Temperatura (ºC): -100
Insira a Temperatura (ºC): -100
Insira a Temperatura (ºC): -100
Insira a Temperatura (ºC): -200
Insira a Temperatura (ºC): -300
Insira a Temperatura (ºC): -400
Insira a Temperatura (ºC): 400
Insira a Temperatura (ºC): 300
Insira a Temperatura (ºC): 800
Insira a Temperatura (ºC): 1000
Insira a Temperatura (ºC): -10000
Insira a Temperatura (ºC): -273
A média das temperaturas é: -642.8571428571429

**Atividade 5**

In [ ]:
numero = int(input('Informe um número inteiro: '))
fatorial = 1
i = numero
while i > 0:
  fatorial *= i
  i -= 1

print(f'Fatorial de {numero} é {fatorial}')

Informe um número inteiro: 5
Fatorial de 5 é 120

**Projeto 1**

In [ ]:
num = int(input('Digite um número inteiro de 1 a 10: '))
print(f'Tabuada do {num}:')
for i in range(1,11):
  resultado = num * i
  print(f'{num} x {i} = {resultado}')

Digite um número inteiro de 1 a 10: 7
Tabuada do 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

**Projeto 2**

In [ ]:
num = int(input('Digite o número: '))
eh_primo = True
if num <= 1:
  eh_primo = False
else:
  for i in range(2, num):
    if num % i == 0:
      eh_primo = False
      break
if eh_primo:
  print(f'O número {num} é primo.')
else:
  print(f'O número {num} não é primo.')

Digite o número: 9
O número 9 não é primo.

**Projeto 3**

In [ ]:
idade = int(input('Informe a idade (ou um número negativo para encerrar): '))

contador_0_25 = 0
contador_26_50 = 0
contador_51_75 = 0
contador_76_100 = 0

while idade >= 0:
  if idade >= 0 and idade <= 25:
    contador_0_25 += 1
  elif idade >= 26 and idade <=50:
    contador_26_50 += 1
  elif idade >= 51 and idade <= 75:
    contador_51_75 += 1
  elif idade >= 76 and idade <= 100:
    contador_76_100 += 1
  idade = int(input('Informe a idade (ou um número negativo para encerrar): '))

print('Distribuição de Idades')
print('[0-25]:', contador_0_25)
print('[26-50]:', contador_26_50)
print('[51-75]:', contador_51_75)
print('[76-100]', contador_76_100)

Informe a idade (ou um número negativo para encerrar): 19
Informe a idade (ou um número negativo para encerrar): 22
Informe a idade (ou um número negativo para encerrar): 55
Informe a idade (ou um número negativo para encerrar): 47
Informe a idade (ou um número negativo para encerrar): 88
Informe a idade (ou um número negativo para encerrar): 27
Informe a idade (ou um número negativo para encerrar): 71
Informe a idade (ou um número negativo para encerrar): 59
Informe a idade (ou um número negativo para encerrar): 36
Informe a idade (ou um número negativo para encerrar): 42
Informe a idade (ou um número negativo para encerrar): -50
Distribuição de Idades
[0-25]: 2
[26-50]: 4
[51-75]: 3
[76-100] 1

**Projeto 4**

In [ ]:
candidato_1 = 0
candidato_2 = 0
candidato_3 = 0
candidato_4 = 0
nulos = 0
branco = 0

for i in range(0,20):
  voto = int(input('Informe seu voto: '))
  if voto == 1:
    candidato_1 += 1
  elif voto == 2:
    candidato_2 += 1
  elif voto == 3:
    candidato_3 += 1
  elif voto == 4:
    candidato_4 += 1
  elif voto == 5:
    nulos += 1
  elif voto == 6:
    branco += 1
  else:
    print('Voto inválido.')

print(f'Votos candidato 1: {candidato_1}')
print(f'Votos candidato 2: {candidato_2}')
print(f'Votos candidato 3: {candidato_3}')
print(f'Votos candidato 4: {candidato_4}')
print(f'Votos nulos: {nulos}')
print(f'Votos em branco: {branco}')
print(f'Percentual de votos nulos: {(nulos / 20 * 100)}')
print(f'Percentual de votos em branco: {(branco / 20 * 100)}')

Informe seu voto: 1
Informe seu voto: 2
Informe seu voto: 3
Informe seu voto: 4
Informe seu voto: 5
Informe seu voto: 6
Informe seu voto: 1
Informe seu voto: 2
Informe seu voto: 3
Informe seu voto: 4
Informe seu voto: 5
Informe seu voto: 6
Informe seu voto: 1
Informe seu voto: 2
Informe seu voto: 3
Informe seu voto: 4
Informe seu voto: 5
Informe seu voto: 6
Informe seu voto: 1
Informe seu voto: 2
Votos candidato 1: 4
Votos candidato 2: 4
Votos candidato 3: 3
Votos candidato 4: 3
Votos nulos: 3
Votos em branco: 3
Percentual de votos nulos: 15.0
Percentual de votos em branco: 15.0

# Estruturas de dados

Um conjunto de elementos é uma coleção de itens, que são armazenados juntos de maneira organizada. Alguns exemplos de conjuntos de elementos em Python são listas, strings e dicionários.

## Listas

As listas podem armazenar uma coleção de itens em ordem. Eles são delimitados por colchetes `[]` e os itens são separados por vírgulas.

Elas também podem armazenar qualquer tipo de item, incluindo números, strings, objetos e outras listas. Elas também podem armazenar itens de tipos de dados diferentes juntos em uma única lista.

In [ ]:
lista = ['Fabricio Daniel',9.5,9.0,8.0,True]
lista

['Fabricio Daniel', 9.5, 9.0, 8.0, True]

As listas são organizadas em Python porque **cada elemento da lista tem um índice que indica sua posição na lista**. Os índices começam em 0 e vão até o tamanho da lista menos 1.

Temos então 5 elementos com índices variando de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Fabricio Daniel', 9.5 , 9.0 , 8.0 , True]
```

Em Python temos também os índices **negativos** que se iniciam no último elemento com o valor de `-1` e depois avancam no universo dos negativos até chegar no 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Fabricio Daniel', 9.5 , 9.0 , 8.0 , True]
```

Conseguimos selecionar separadamente cada elemento através de seus respectivos índices. Colocando o nome da lista e em seguida o índice a ser selecionado.

In [ ]:
lista[0]

'Fabricio Daniel'

In [ ]:
lista[1]

9.5

In [ ]:
lista[-1]

True

Uma forma mais dinâmica de trabalhar item por item de uma lista é utilizando um laço for para leitura elemento a elemento.

In [ ]:
for elemento in lista:
  print(elemento)

Fabricio Daniel
9.5
9.0
8.0
True

A nota `8.0` de Fabricio Daniel precisa ser ajustada pois ganhou 2 pontos em sua ultima nota por fazer um trabalho de turma. Então é necessária fazer uma troca no valor do índice `3` de `8.0` para `10.0`.

In [ ]:
lista[3] = 10.0
lista

['Fabricio Daniel', 9.5, 9.0, 10.0, True]

conseguimos calcular a média do aluno a partir dos dados que temos

In [ ]:
media = (lista[1] + lista[2] + lista[3])/3
media

9.5

## Manipulação de listas

As listas são muito úteis em Python porque permitem armazenar e acessar uma coleção de itens de maneira organizada e rápida. Elas também oferecem muitos métodos úteis para manipular os itens armazenados, como adicionar, remover, classificar e pesquisar elementos.

#### Quantidade de elementos

Usamos a função [`len()`](https://docs.python.org/3/library/functions.html#len) para descobrimos a quantidade de elementos de um conjunto.

In [ ]:
len(lista)

5

#### Partição

A partição de listas por indexação em Python é uma técnica muito útil para selecionar um subconjunto de elementos de uma lista. Ela é feita usando a sintaxe `lista[inicio:fim]`, onde `inicio` é o índice do primeiro elemento a ser incluído na partição e `fim` é o índice do primeiro elemento a ser excluído da partição.

In [ ]:
lista[1:4]

[9.5, 9.0, 10.0]

In [ ]:
lista[1:3]

[9.5, 9.0]

In [ ]:
lista[:2]

['Fabricio Daniel', 9.5]

In [ ]:
lista[3:]

[4, 5]

In [ ]:
lista[:]

['Fabricio Daniel', 9.5, 9.0, 10.0, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Adiciona um elemento ao final da lista.

In [ ]:
lista.append(media)
lista

['Fabricio Daniel', 9.5, 9.0, 10.0, True, 9.5]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Adiciona vários elementos ao final da lista.

Adicionaremos as notas `[10.0,8.0,9.0]` na lista do Fabricio Daniel

In [ ]:
lista.extend([10.0,8.0,9.0])
lista

['Fabricio Daniel', 9.5, 9.0, 10.0, True, 9.5, 10.0, 8.0, 9.0]

*Isso não é possivel ser feito com o* `append`.

In [ ]:
lista.append([10.0,8.0,9.0])
lista

['Fabricio Daniel',
 9.5,
 9.0,
 10.0,
 True,
 9.5,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remove um elemento específico da lista.

In [ ]:
lista.remove([10.0,8.0,9.0])
lista

['Fabricio Daniel', 9.5, 9.0, True, 9.5, 10.0, 8.0, 9.0]

## Dicionário

Os dicionários são um tipo de estrutura de dados que armazenam pares de *chave-valor*. Eles são delimitados por chaves `{}` e os pares *chave-valor* são separados por vírgulas.

```
dicionário = {chave: valor}
```

A **chave** é um elemento único que identifica um valor no dicionário, enquanto o **valor** é o item que é armazenado para a chave. As chaves e os valores podem ser de **qualquer tipo de dado**.

Os dicionários são úteis para armazenar e acessar dados de maneira organizada e rápida. Eles são um tipo de conjunto de elementos em Python, pois armazenam uma coleção de itens.

In [ ]:
dicionario = {'chave_1':1,
              'chave_2':2}
dicionario

{'chave_1': 1, 'chave_2': 2}

---
**Situação:**

Vamos criar um conjunto de dados com informações de matricula de um estudante. Os dados são os seguintes:

- matricula: 2000168933
- dia de cadastro: 25
- mês de cadastro: 10
- turma: 2E

In [ ]:
cadastro = {'matricula': 2000168933,
            'dia_cadastro': 25,
            'mes_cadastro': 10,
            'turma': '2E'}
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2E'}

In [ ]:
cadastro['matricula']

2000168933

In [ ]:
cadastro['mes_cadastro']

10

É possível substituir os valores dentro de uma chave. Por exemplo, recebemos a informação que a turma do estudante que cadastramos foi trocada para `'2G'` e agora precisamos trocar o valor da chave `'turma'`.

In [ ]:
cadastro['turma'] = '2G'
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2G'}

Podemos também adicionar outros dados ao dicionário. Vamos adicionar a informação de modalidade de ensino, nosso estudante atuará inicialmente em modalidade EAD.

Então iremos definir uma chave chamada `'modalidade'` e o valor `'EAD'`.

In [ ]:
cadastro['modalidade'] = 'EAD'
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2G',
 'modalidade': 'EAD'}

## Aprofundando em dicionários

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remove um item de um dicionário e o retorna.

In [ ]:
cadastro.pop('turma')

'2G'

In [ ]:
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'modalidade': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna uma lista de pares chave-valor do dicionário.

In [ ]:
cadastro.items()

dict_items([('matricula', 2000168933), ('dia_cadastro', 25), ('mes_cadastro', 10), ('modalidade', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna uma lista das chaves do dicionário.

In [ ]:
cadastro.keys()

dict_keys(['matricula', 'dia_cadastro', 'mes_cadastro', 'modalidade'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna uma lista dos valores do dicionário.

In [ ]:
cadastro.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Leitura de valores com `for`

In [ ]:
for chaves in cadastro.keys():
  print(cadastro[chaves])

2000168933
25
10
EAD

In [ ]:
for valores in cadastro.values():
  print(valores)

2000168933
25
10
EAD

In [ ]:
for chaves, valores in cadastro.items():
  print(chaves, valores)

matricula 2000168933
dia_cadastro 25
mes_cadastro 10
modalidade EAD

**Atividade 1**

Faça um programa que tenha a seguinte lista contendo os valores de gastos de uma empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Com esses valores, faça um programa que calcule a média de gastos.

In [ ]:
gastos_papel = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
gastos_papel

[2172.54,
 3701.35,
 3518.09,
 3456.61,
 3249.38,
 2840.82,
 3891.45,
 3075.26,
 2317.64,
 3219.08]

In [ ]:
total_gastos = sum(gastos_papel)
quantidade_compras = len(gastos_papel)
media_gastos = total_gastos / quantidade_compras
print(media_gastos)

3144.222

**Atividade 2**\
Com os mesmos dados da questão anterior, defina quantas compras foram realizadas acima de 3000 reais e calcule a porcentagem quanto ao total de compras.

In [ ]:
acima_3000 = 0

for gasto in gastos_papel:
  if gasto > 3000:
    acima_3000 += 1

porcentagem_acima_3000 = 100 * (acima_3000) / (quantidade_compras)

print(acima_3000)
print(porcentagem_acima_3000)

7
70.0

**Atividade 3**\
Faça um código que colete em uma lista 5 números inteiros quaisquer e imprima a lista. Exemplo: [1,4,7,2,4].

In [ ]:
lista = []

for i in range(0,5):
  num = int(input('Digite um número inteiro: '))
  lista.append(num)

print(lista)

Digite um número inteiro: 2
Digite um número inteiro: 4
Digite um número inteiro: 6
Digite um número inteiro: 4
Digite um número inteiro: 2
[2, 4, 6, 4, 2]

**Atividade 4**\
Colete novamente 5 inteiros e imprima a lista em ordem inversa à enviada.

In [ ]:
lista = []

for i in range(0,5):
  num = int(input('Digite um número inteiro: '))
  lista.append(num)

print(lista[::-1])

Digite um número inteiro: 1
Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 4
Digite um número inteiro: 5
[5, 4, 3, 2, 1]

**Atividade 5**\
Faça um programa que, ao inserir um número qualquer, cria uma lista contendo todos os números primos entre 1 e o número digitado.

In [ ]:
num = int(input('Digite um número inteiro: '))

lista_primos = []

for num in range(2, num):
  primo = True
  for teste_divisiveis in range(2, num):
    if num % teste_divisiveis == 0:
      primo = False
      break
  if primo:
    lista_primos.append(num)

print(lista_primos)

Digite um número inteiro: 20
[2, 3, 5, 7, 11, 13, 17, 19]

**Atividade 6**\
Escreva um programa que peça uma data informando o dia, mês e ano e determine se ela é válida para uma análise.

In [ ]:
dia = int(input('Digite o dia: '))
mes = int(input('Digite o mês: '))
ano = int(input('Digite o ano: '))

if mes == 2:
  if ano % 4 == 0 and (ano % 400 == 0 or ano % 100 != 0):
    dias_fevereiro = 29
  else:
    dias_fevereiro = 28
  if dia >= 1 and dia <= dias_fevereiro:
    print('Data válida')
  else:
    print('Dava inválida')
elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Data válida')
  else:
    print('Data inválida')
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Data válida')
  else:
    print('Data inválida')
else:
  print('Data inválida')

Digite o dia: 28
Digite o mês: 02
Digite o ano: 2025
Data válida

**Projeto 1**\
Para um estudo envolvendo o nível de multiplicação de bactérias em uma colônia, foi coletado o número de bactérias por dia (em milhares) e pode ser observado a seguir: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Tendo esses valores, faça um código que gere uma lista contendo o percentual de crescimento de bactérias por dia, comparando o número de bactérias em cada dia com o número de bactérias do dia anterior. Dica: para calcular o percentual de crescimento usamos a seguinte equação: 100 * (amostra_atual - amostra_passada) / (amostra_passada).

In [ ]:
bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
porcentagem_crescimento = []

for i in range(1, len(bacterias)):
  porcentagem = 100 * (bacterias[i] - bacterias[i-1]) / (bacterias[i-1])
  porcentagem_crescimento.append(porcentagem)

print(porcentagem_crescimento)

[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

**Projeto 2**\
Para uma seleção de produtos alimentícios, precisamos separar o conjunto de IDs dados por números inteiros sabendo que os produtos com ID par são doces e os com ID ímpar são amargos. Monte um código que colete 10 IDs. Depois, calcule e mostre a quantidade de produtos doces e amargos.

In [ ]:
ids = []

doce = 0
amargo = 0

for i in range(0,10):
  ids.append(int(input(f'Digite o {i+1}º ID: ')))
for id in ids:
  if id % 2 == 0:
    doce += 1
  else:
    amargo += 1

print(doce)
print(amargo)

Digite o 1º ID: 1
Digite o 2º ID: 2
Digite o 3º ID: 3
Digite o 4º ID: 4
Digite o 5º ID: 5
Digite o 6º ID: 6
Digite o 7º ID: 7
Digite o 8º ID: 8
Digite o 9º ID: 9
Digite o 10º ID: 10
5
5

**Projeto 3**\
Desenvolva um programa que informa a nota de um(a) aluno(a) de acordo com suas respostas. Ele deve pedir a resposta desse(a) aluno(a) para cada questão e é preciso verificar se a resposta foi igual ao gabarito. Cada questão vale um ponto e existem as alternativas A, B, C ou D.\
Gabarito da prova:\
01 - D\
02 - A\
03 - C\
04 - B\
05 - A\
06 - D\
07 - C\
08 - C\
09 - A\
10 - B

In [ ]:
respostas = []

gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0

for i in range(0,10):
  respostas.append(input(f'Insira a resposta da questão {i+1}: ').upper())

for i in range(0,10):
  if respostas[i] == gabarito[i]:
    nota += 1

print(nota)

Insira a resposta da questão 1: A
Insira a resposta da questão 2: A
Insira a resposta da questão 3: D
Insira a resposta da questão 4: B
Insira a resposta da questão 5: C
Insira a resposta da questão 6: D
Insira a resposta da questão 7: A
Insira a resposta da questão 8: C
Insira a resposta da questão 9: B
Insira a resposta da questão 10: B
5

**Projeto 4**\
Um instituto de meteorologia deseja fazer um estudo de temperatura média de cada mês do ano. Para isso, você precisa fazer um código que colete e armazene essas temperaturas médias em uma lista. Depois, calcule a média anual das temperaturas e mostre todas as temperaturas acima da média anual e em que mês elas ocorreram, mostrando os meses por extenso (Janeiro, Fevereiro, etc.).

In [ ]:
temperaturas_mensais = []
for i in range(0,12):
  temperaturas_mensais.append(float(input(f'Digite a média de temperatura do mês {i+1}: ')))

meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
media_anual = sum(temperaturas_mensais) / len(temperaturas_mensais)
print('Temperaturas acima da média em: ')
for i in range(0,12):
  if temperaturas_mensais[i] > media_anual:
    print(meses[i])

Digite a média de temperatura do mês 1: 20
Digite a média de temperatura do mês 2: 23
Digite a média de temperatura do mês 3: 22
Digite a média de temperatura do mês 4: 21
Digite a média de temperatura do mês 5: 20
Digite a média de temperatura do mês 6: 18
Digite a média de temperatura do mês 7: 17
Digite a média de temperatura do mês 8: 19
Digite a média de temperatura do mês 9: 20
Digite a média de temperatura do mês 10: 22
Digite a média de temperatura do mês 11: 24
Digite a média de temperatura do mês 12: 25
Temperaturas acima da média em:
Fevereiro
Março
Abril
Outubro
Novembro
Dezembro

**Projeto 5**\
Uma empresa de e-commerce está interessada em analisar as vendas dos seus produtos. Os dados das vendas foram armazenados em um dicionário:

{'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}

 Escreva um código que calcule o total de vendas e o produto mais vendido.

In [ ]:
dados_vendas = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60, 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}
total_vendas = 0
produto_mais_vendido = ''
unidades_produto_mais_vendido = 0

for produto in dados_vendas.keys():
  total_vendas += dados_vendas[produto]
  if dados_vendas[produto] > unidades_produto_mais_vendido:
    unidades_produto_mais_vendido = dados_vendas[produto]
    produto_mais_vendido = produto

print(f'Total de vendas é {total_vendas}')
print(f'{produto_mais_vendido} é o mais vendido')

Total de vendas é 920
Produto A é o mais vendido

**Projeto 6**\
Uma pesquisa de mercado foi feita para decidir qual design de marca infantil mais agrada as crianças. A pesquisa foi feita e o votos computados podem ser observados abaixo:\
'''\
Tabela de votos da marca\
Design 1 - 1334 votos\
Design 2 - 982 votos\
Design 3 - 1751 votos\
Design 4 - 210 votos\
Design 5 - 1811 votos\
'''\
Adapte os dados fornecidos para uma estrutura de dicionário. A partir dele, informe o design vencedor e a porcentagem de votos recebidos.

In [ ]:
votos = {'Design 1': 1334, 'Design 2': 982, 'Design 3': 1751, 'Design 4': 210, 'Design 5': 1811}
total_votos = 0
vencedor = ''
voto_vencedor = 0

for design, voto_desing in votos.items():
  total_votos += voto_desing
  if voto_desing > voto_vencedor:
    voto_vencedor = voto_desing
    vencedor = design
porcentagem = 100 * (voto_vencedor) / (total_votos)

print(f'{vencedor} é o vencedor: ')
print(f'Porcentagem de votos: {porcentagem}%')

Design 5 é o vencedor:
Porcentagem de votos: 29.747043363994745%

**Projeto 7**\
As pessoas colaboradoras de um setor da empresa que você trabalha vão receber um abono correspondente a 10% do salário devido ao ótimo desempenho do time. O setor financeiro solicitou sua ajuda para a verificação das consequências financeiras que esse abono irá gerar nos recursos. Assim, foi encaminhada para você uma lista com os salários que receberão o abono: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. O abono de cada colaborador(a) não pode ser inferior a 200. Em código, transforme cada um dos salários em chaves de um dicionário e o abono de cada salário no elemento. Depois, informe o total de gastos com o abono, quantos(as) colaboradores(as) receberam o abono mínimo e qual o maior valor de abono fornecido.

In [ ]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
dic_abonos = {}
total_abono = 0
abonos_minimo = 0
maior_abono = 0

for salario in salarios:
  abono = salario * 0.1
  if abono < 200:
    abono = 200
  dic_abonos[salario] = abono

for abono in dic_abonos.values():
  if abono == 200:
    abonos_minimo += 1
  if abono > maior_abono:
    maior_abono = abono
  total_abono += abono

print(f'Abonos: {dic_abonos}')
print(f'Total de gasto com abonos: {total_abono}')
print(f'Número de funcionários que receberam o abono mínimo: {abonos_minimo}')
print(f'Maior valor de abono: {maior_abono}')

Abonos: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
Total de gasto com abonos: 6087.8
Número de funcionários que receberam o abono mínimo: 2
Maior valor de abono: 790.3000000000001

**Projeto 8**\
Uma equipe de cientistas de dados está estudando a diversidade biológica em uma floresta. A equipe fez a coleta de informações sobre o número de espécies de plantas e animais em cada área dessa floresta e armazenou essas informações em um dicionário. Nele, a chave descreve a área dos dados e os valores nas listas correspondem às espécies de plantas e animais nas áreas, respectivamente.

{'Área Norte': [2819, 7236],\
 'Área Leste': [1440, 9492],\
 'Área Sul': [5969, 7496],\
 'Área Oeste': [14446, 49688],\
 'Área Centro': [22558, 45148]}

Escreva um código para calcular a média de espécies por área e identificar a área com a maior diversidade biológica. Dica: use as funções built-in sum() e len().

In [ ]:
dados = {'Área Norte': [2819, 7236],
         'Área Leste': [1440, 9492],
         'Área Sul': [5969, 7496],
         'Área Oeste': [14446, 49688],
         'Área Centro': [22558, 45148]}

soma_media = 0
maior_diversidade = ''
maior_soma = 0

for area, especies in dados.items():
  soma_especies = sum(especies)
  media = soma_especies / len(especies)
  print(f'A {area} tem a média de {media} espécies')
  if soma_especies > maior_soma:
      maior_soma = soma_especies
      maior_diversidade = area
  soma_media += media
media_total = soma_media / len(dados)

print(f'Média geral de espécies: {media_total}')
print(f'Área com a maior diversidade biológica: {maior_diversidade}')

A Área Norte tem a média de 5027.5 espécies
A Área Leste tem a média de 5466.0 espécies
A Área Sul tem a média de 6732.5 espécies
A Área Oeste tem a média de 32067.0 espécies
A Área Centro tem a média de 33853.0 espécies
Média geral de espécies: 16629.2
Área com a maior diversidade biológica: Área Centro

**Projeto 9**\
O setor de RH da sua empresa te pediu uma ajuda para analisar as idades de colaboradores(as) de 4 setores da empresa. Para isso, foram fornecidos os seguintes dados:

{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],\
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],\
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],\
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

 Sabendo que cada setor tem 10 colaboradores(as), construa um código que calcule a média de idade de cada setor, a idade média geral entre todos os setores e quantas pessoas estão acima da idade média geral.

In [ ]:
dados = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
        'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
        'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
        'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

total_idades = 0

for setor, idades in dados.items():
  media_idade = sum(idades) / len(idades)
  print(f'O {setor} tem a média de {media_idade}')
  total_idades += sum(idades)
media_total = total_idades / (len(idades) * len(dados))
print(f'A média de idade geral é {media_total}')

acima_media = 0

for setor, idades in dados.items():
  for id in idades:
    if id > media_total:
      acima_media += 1

print(f'{acima_media} pessoas estão acima da idade média geral')

O Setor A tem a média de 39.9
O Setor B tem a média de 42.3
O Setor C tem a média de 35.8
O Setor D tem a média de 36.5
A média de idade geral é 38.625
18 pessoas estão acima da idade média geral